
/* ================================= 
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 95%;
    text-align: center;
    font-family: "Helvetica neue", sans-serif;
    line-height: 1.5;
    color: whitesmoke;
    background-color: #033f90;
  }

h2 {
    text-transform: uppercase;
    font-size: 1em;
}

img {
    margin: 0 auto;
    max-width: 100%;
    padding-top: 15px
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* Navigation */

.name {
    font-size: 1.5em;
    margin: 0 auto;
    padding: 15px;
}

.main-nav {
    font-size: .9em;
    margin: 0 auto;
    text-transform: uppercase;
}

.main-nav a {
    color: #2f2f2f;
    background-color: whitesmoke;
    padding: 10px 0;
    margin: 5px 0;
}

.main-nav a:hover {
    color: skyblue;
}

.main-nav,
.main-nav a {
    display: block;
    text-align: center;
}

/* Profile Image and Intro */

.profile-image {
    margin-top: 25px;
    width: 70%;
}

.intro {
    margin-bottom: 50px;
}

/* Layout Containers */

.portfolio {
    background-color: whitesmoke;
    color: #2f2f2f;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 40px;
}

.portfolio p {
    padding: 0 10px;
}

.skills {
    background-color: whitesmoke;
    color: #2f2f2f;
    margin: 0 auto;
    padding-top: 40px;
}

.skills img {
    background-color: whitesmoke;
    max-width: 60%;
    padding-bottom: 35px;
}

.main-content {
    padding: 25px 0;
}

.col{
    padding-right: .5em;
    padding-left: .5em;
}

.contact {
    padding: 50px 0;
}

.footer-nav {
    padding: 25px 0 12px;
    border-top: 2px solid whitesmoke;
    display: block;
}

.footer-nav a {
    text-transform: uppercase;
    color: whitesmoke;
    font-size: .8em;
}

.footer-nav a:hover {
    color: skyblue;
}

.footer-menu {
    margin-left: 2000px;
}

.footer-name {
    float: left;
}

.back-to-top {
    float: right;
    margin-top: 20px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

    /* body {
        border: 5px solid green;
    } */

    .main-nav a {
        display: inline-block;
        margin: 10px;
        padding: 10px 20px;
        background-color: #033f90;
        color: whitesmoke;
    }

    .profile-image {
        float: right;
        width: 40%;
        padding-left: 20px;
        margin-top: 0;
        margin-bottom: 45px;
    }

    .intro {
        float: left;
        width: 60%;
        text-align: left;
        font-size: 1.2em;
        margin-top: 10px;
    }

    .portfolio {
        padding: 25px 11px 0;
    }

    .main-content {
        padding: 10px 0;
    }

    .port-1,
    .port-3,
    .port-5 {
        float: left;
        width: 50%;
    }

    .port-2,
    .port-4,
    .port-6 {
        float: left;
        width: 50%;
    }

    .skills {
        max-width: 60%;
    }

    .footer-nav {
        padding: 25px 0;
    }

    .footer-name {
        float: left;
    }

    .footer-menu {
        float: right;
        margin: 0;
        margin-top: 16px;
    }

    .footer-menu a {
        display: inline-block;
        padding-left: 20px;
    }

    .back-to-top {
        display: none;
    }

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
    }
}

@media (min-width: 1024px) {

    body {
        max-width: 1150px;
        padding: 25px;
    }

    .main-header {
        padding: 0 10px;
    }

    .name {
        float: left;
    }

    .main-nav {
        float: right;
    }

    .main-nav a {
        margin: 10px 0 0;
        padding: 10px 15px;
        background-color: #033f90;
        color: whitesmoke;
    }

    .header {
        padding: 0 25px;
    }

    .intro {
        font-size: 1.4em;
    }

    .portfolio {
        width: 100%;
        padding: 25px 17px 0;
      }

    .port-1,
    .port-2,
    .port-3,
    .port-4,
    .port-5,
    .port-6 {
        width: 33.333333%;
    }


	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
    }
}